body{
    background-color: #101010;
    color: #F0F0F0;
    font-family: 'Bricolage Grotesque', sans-serif;
    padding: 100px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

img{
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.content{
    border-radius: 7px;
}

.wrapper-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.content{
    padding: 40px 20px;
    border: 1px solid #5c5c5c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: all .3s ease;
}

.content:hover{
    background-color: #202020;
}

.img-content{
    max-height:120px;
    width: 200px;
    border-radius: 5px;
}

.title{
    color: #F0F0F0;
    font-weight: light;
    margin-bottom: 10px;
}

.description{
    font-weight: 300;
    color: #c2c2c2;
}