html,
body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body{
    width: 100vw;
    height: 98vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 0px 30px;
    display: flex;
    gap: 30px;
}

img{
    box-sizing: border-box;
    width: 100%;
}

.card{
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #842bd7;
    width: 100%;
    max-width: 300px;
    transition: all .4s ease;
}

.card:hover{
    box-shadow: 1px 3px 5px 10px #842bd71c;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image{
    width: 150px;
}

.price{
    margin: 20px 0px;
}

.link{
    padding: 10px 30px;
    background-color: #842bd7;
    color: #FFFFFF;
    border-radius: 5px;
    transition: opacity .4s ease;
}

.link:hover{
    opacity: 75%;
}